<!DOCTYPE html>
<html>
<head>
  <title>Welcome to COVID VACCINATION BOOKING</title>
</head>
<body>
  <h1>Welcome to COVID VACCINATION BOOKING</h1>

  <form action="/admin/login" method="GET">
    <button type="submit">Admin</button>
  </form>

  <form action="/user/login" method="GET">
    <button type="submit">User</button>
  </form>
</body>
</html>
